.input_form {
    display: flex;
}

.input_form .form {
    border: 1px solid;
    width: 50vw;
}

.input_form .form .form_control {
    display: block;
    margin-bottom: 8px;
}

.input_form .form .form_control .input {
    width: 100%;
}

.input_form .options .container {
    border: 1px solid;
    border-left: 0;
    padding: 8px;
}

